/* source: Animated Navbar Hover Effect by Santosh Goswami https://getdevdone.com/blog/our-favorite-navigation-menu-effects.html */

.nav-main {
  position: fixed;
    top:0;
    right: 0;
    left: 0;
    margin-top:0;
    padding:0;
}
.nav-main, .nav-body {
    display: flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    background:#112c38;
  }
  .nav-body {
    max-width: fit-content;
  }
  .nav-main a{
    align-self: flex-start;
  }
  
  .nav-body div{
    margin:0;
    padding:0;
    display:flex;
  }
  
  /* .nav-body div div{ */
.nav-body div{
    /* list-style:none; */
    margin:0 20px;
    transition:0.5s;
  }
  
  .nav-body div a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  .nav-body:hover div a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  .nav-body div a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  .nav-body div a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ff497c;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  .nav-body div a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }